# Feature annotation

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import scanpy as sc
import lamindb as db
from lamindb.do import ingest
import bionty as bt
from nbproject import header

header()

In [3]:
! lndb init --storage $HOME/mydata

ℹ️ | Created instance mydata: /Users/sunnysun/mydata/mydata.lndb

## Data

In [4]:
adata = sc.datasets.pbmc68k_reduced()
adata.var = bt.Gene().curate(adata.var)

62 terms (8.1%) are not mappable.

In [5]:
adata.var.head()

,n_counts,means,dispersions,dispersions_norm,highly_variable,orig_index,__curated__
index,,,,,,,
HES4,1153.387451,0.592365,2.028047,2.771764,True,HES4,True
TNFRSF4,304.358154,0.193332,1.760724,2.746426,True,TNFRSF4,True
SSU72,2530.272705,1.019981,1.208284,-0.631160,False,SSU72,True
PARK7,7451.664062,1.828078,1.288261,-0.544716,False,PARK7,True
RBP7,272.811035,0.174943,1.842789,3.192285,True,RBP7,True

In [6]:
filename = "scanpy_pbmc68k_reduced.h5ad"
adata.write(filename)

## Ingest dataset

In [7]:
ingest.add(filename)

In [8]:
ingest.status

{PosixPath('scanpy_pbmc68k_reduced.h5ad'): ('jI1Xj6Nq992FkqtpvFTpt', '1')}

In [9]:
ingest.commit()

Added notebook 'Feature annotation' (oYcJlpQohwcq, 1) by user xiaoji.sun515@gmail.com (BjExb4ik).
Ingested the following files:
+--------------------------------------------------------+----------------------------------------+------------------------------------+
|                     Ingested File                      |                Notebook                |                User                |
+--------------------------------------------------------+----------------------------------------+------------------------------------+
| scanpy_pbmc68k_reduced.h5ad (jI1Xj6Nq992FkqtpvFTpt, 1) | 'Feature annotation' (oYcJlpQohwcq, 1) | xiaoji.sun515@gmail.com (BjExb4ik) |
+--------------------------------------------------------+----------------------------------------+------------------------------------+

RuntimeError: Make sure you save the notebook in your editor before publishing!
You can avoid the need for manually saving in Jupyter Lab, which auto-saves the buffer during publish.

## Annotate genes

In [11]:
dobject_table = db.do.load("dobject")
dobject_table

,,name,file_suffix,jupynb_id,jupynb_v,time_created,time_updated
id,v,,,,,,
jI1Xj6Nq992FkqtpvFTpt,1,scanpy_pbmc68k_reduced,.h5ad,oYcJlpQohwcq,1,2022-07-22 14:39:29,2022-07-22 14:39:29

In [15]:
dobj = db.do.query.id("dobject", dobject_table.index[0])
dobj

dobject(id='jI1Xj6Nq992FkqtpvFTpt', file_suffix='.h5ad', jupynb_v='1', time_updated=datetime.datetime(2022, 7, 22, 14, 39, 29), name='scanpy_pbmc68k_reduced', v='1', jupynb_id='oYcJlpQohwcq', time_created=datetime.datetime(2022, 7, 22, 14, 39, 29))

In [16]:
from lamindb.meta import annotate

In [17]:
geneset_id = annotate.genes(dobject=dobj, species="human", obs_or_var="var")

In [22]:
db.do.load("geneset")

    name
id
1   None

In [21]:
db.do.load("gene")

,symbol,species,name,hgnc_id,entrez_gene_id,ensembl_gene_id,alias_symbol,locus_group,locus_type,location,vega_id,ucsc_id,rgd_id,omim_id
id,,,,,,,,,,,,,,
1,HES4,human,None,None,None,None,None,None,None,None,None,None,None,None
2,TNFRSF4,human,None,None,None,None,None,None,None,None,None,None,None,None
3,SSU72,human,None,None,None,None,None,None,None,None,None,None,None,None
4,PARK7,human,None,None,None,None,None,None,None,None,None,None,None,None
5,RBP7,human,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,SUMO3,human,None,None,None,None,None,None,None,None,None,None,None,None
762,ITGB2,human,None,None,None,None,None,None,None,None,None,None,None,None
763,S100B,human,None,None,None,None,None,None,None,None,None,None,None,None
764,PRMT2,human,None,None,None,None,None,None,None,None,None,None,None,None
765,MT-ND3,human,None,None,None,None,None,None,None,None,None,None,None,None